
@{
    ViewData["Title"] = "JsonTest";
}

<h1>JsonTest</h1>

@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        console.log(spots.CommonFormat.Section);
    </script>
}
